{{define "contactTwo"}}
    <!-- Start Contact Section -->
    <section class="productive-section productive-bg">
      <div class="container">
         <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Наши Aдреса</h3>
                            <ul class="footer-quick-links">
                                <li>
                                    г. Нижний Новгород, Проспект Кораблестроителей, 56, пом. 4
                                </li>
                                <li>
                                    г. Нижний Новгород, ТЦ Бурнаковский, вход 4, этаж 2
                                </li>
                                <li>
                                    г. Балахна, Улица Космонавтов, 7, пом. 2
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Телефон</h3>
                            <ul class="footer-quick-links">
                                <li>
                                    +79535519099
                                </li>
                                <li>
                                    +79200601660
                                </li>
                                <li>
                                    +79506297292
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Электронная почта</h3>
                            <ul class="footer-quick-links address-link">
                                <li>
                                  joylanguagesschool@gmail.com
                                </li>
                            </ul>
                                <div class="subscribe-area-content">
                <ul class="social-list">
                  <li>
                    <a
                      href="https://vk.com/english_joy_school"
                      class="vk"
                      target="_blank"
                    >
                      <i class="fab fa-vk"></i>
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://www.instagram.com/joy_languages_school/"
                      class="instagram"
                      target="_blank"
                    >
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
                        </div>
                    </div>
              </div>
      </div>
    </section>
    <!-- End Contact Section -->
    {{end}}