  {{template "dashboardlayout" .}}

  {{define "title"}}All Posts{{end}}

   {{define "dashboardbody"}}
  
  <main class="content">
          <div class="container-fluid p-0">
          {{with .Flash}}
            <div class="row">
            <div class="p-3 mb-2 bg-primary text-white">{{.}}</div>
            </div>
           {{end}}
            <div class="mb-3">
              <h1 class="h3 d-inline align-middle">All Posts</h1>
            </div>
            <div class="row">
              <div
                class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2"
              >
                <div class="card flex-fill">
                  {{if .Posts}}
                  <table class="table table-hover my-0">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th class="d-none d-xl-table-cell">Created</th>
                        <th>Edit</th>
                        <th class="d-none d-md-table-cell">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{range .Posts}}
                      <tr>
                        <td>
                          <a href="/posts/{{.ID}}" target="_blank"
                            >{{.Title}}</a
                          >
                        </td>
                        <td class="d-none d-xl-table-cell">{{humanDate .Created}}</td>
                        <td>
                          <a href="/admin/post/edit/{{.ID}}"><button type="submit" class="btn btn-success">Edit</button></a>
                        </td>
                        <td class="d-none d-md-table-cell">
                          <form action="/admin/posts/{{.ID}}" method="POST">
                          <input type="hidden" name="csrf_token" value="{{$.CSRFToken}}">
                          <input type="hidden" name="_method" value="delete">
                          <button type="submit" class="btn btn-danger">Delete</button>
                          </form>
                        </td>
                      </tr>
                    {{end}}
                    </tbody>
                  </table>
                  {{else}}
                  <div class="card-body">
                  <p>There's nothing to see here... yet!</p>
                  </div>
                  {{end}}
                </div>
              </div>
            </div>
          </div>
        </main>

        {{end}}