{{define "footer"}}
 <!-- Start Footer Section -->
    <footer class="footer-section seo-footer">
      <div class="container">
        <div class="copyright-area">
          <div class="row align-items-center">
            <div class="col-lg-6 col-sm-6 col-md-6">
              <p>© 2022 Школа иностранных языков JOY. Все права защищены</p>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
              <ul>
                <li>
                  <a target="_blank" href="https://github.com/emzola"
                    >Разработка сайта</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer Section -->
    {{end}}