{{template "homelayout" .}}

{{define "title"}}Школа иностранных языков JOY{{end}}

{{define "homebody"}}

    <!-- Start Startup Home Area -->
    <div class="startup-home-area">
      <div class="d-table">
        <div class="d-table-cell">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-12">
                <div class="hero-content">
                  <h1>
                    Изучать новый <b>язык</b> вместе с нами весело и
                    интересно
                  </h1>
                  <p>
                    Осуществите свою мечту в изучении нового языка. Мы
                    предлагаем языковые курсы английского, китайского,
                    испанского, французского и немецкого языков
                  </p>
                  <div class="startup-btn">
                    <a href="#нас" class="startup-btn-one">
                      Подробнее <i class="fa fa-arrow-right"></i>
                    </a>
                    <a
                      href="https://vk.com/video24352110_456239169"
                      class="startup-btn-two popup-youtube"
                    >
                      Посмотрите видео
                      <i class="fa fa-arrow-right"></i>
                    </a>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-12">
                <div class="startup-image">
                  <img
                    src="/static/img/startup-home/startup.png"
                    class="wow fadeInUp"
                    data-wow-delay="0.6s"
                    alt="image"
                  />
                </div>
              </div>

              <div class="startup-shape">
                <img
                  src="/static/img/startup-home/startup-shape.png"
                  alt="image"
                />
              </div>
              -->
            </div>
          </div>
        </div>
      </div>

      <div class="shape-img1">
        <img src="/static/img/shape/1.svg" alt="image" />
      </div>
      <div class="shape-img2">
        <img src="/static/img/shape/2.svg" alt="image" />
      </div>
      <div class="shape-img3">
        <img src="/static/img/shape/3.png" alt="image" />
      </div>
      <div class="shape-img4">
        <img src="/static/img/shape/4.png" alt="image" />
      </div>
      <div class="shape-img5">
        <img src="/static/img/shape/6.png" alt="image" />
      </div>
    </div>
    <!-- End Startup Home Area -->

    <!-- Start Partner Two Area -->
    <div class="partnar-two-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4">
            <div class="appreciate">
              <h3>Иностранные языки, которые мы предлагаем в нашей школе</h3>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="partner-slider owl-carousel owl-theme">
              <div class="partner-item">
                <img src="/static/img/startup-home/uk.png" alt="Английский" />
                <span>Английский</span>
              </div>
              <div class="partner-item">
                <img
                  src="/static/img/startup-home/france.png"
                  alt="Французский"
                />
                <span>Французский</span>
              </div>
              <div class="partner-item">
                <img src="/static/img/startup-home/germany.png" alt="Немецкий" />
                <span>Немецкий</span>
              </div>
              <div class="partner-item">
                <img src="/static/img/startup-home/spain.png" alt="Испанский" />
                <span>Испанский</span>
              </div>
              <div class="partner-item">
                <img src="/static/img/startup-home/china.png" alt="Китайский" />
                <span>Китайский</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Partner Two Area -->

    <!-- Start Solutions Section -->
    <section class="solutions-section ptb-100" id="нас">
      <div class="container">
        <div class="solutions-title">
          <h3>Школа иностранных языков JOY</h3>
          <p>
            Впервые школа JOY открыла свои двери в 2014 году. Мы поможем
            воплотить ваши мечты в изучении языков в реальность. Мы
            придерживаемся высоких стандартов в обучении и постоянно
            развиваемся! Наши преподаватели – это профессионалы своего дела!
          </p>
        </div>

        <div class="row">
          <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="visitor-content-area">
              <h3>Занятия в мини-группах (3-6 человек)</h3>
              <div class="visitor-shape">
                <img src="/static/img/seo/shape-2.png" alt="image" />
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="visitor-content-area bg-00a86f">
              <h3>Индивидуальное обучение</h3>
              <div class="visitor-shape">
                <img src="/static/img/seo/shape-2.png" alt="image" />
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="visitor-content-area bg-302353">
              <h3>Дистанционные занятия (Skype/Zoom)</h3>
              <div class="visitor-shape">
                <img src="/static/img/seo/shape-2.png" alt="image" />
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-md-6">
            <div class="visitor-content-area bg-c53a17">
              <h3>Корпоративные курсы</h3>
              <div class="visitor-shape">
                <img src="/static/img/seo/shape-2.png" alt="image" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Solutions Section -->

    <!-- Start Productive Section -->
    <section class="productive-section productive-bg">
      <div class="container">
        <div class="productive-title">
          <span>Зачем учиться вместе с нами</span>
          <h3>Наши преимущества</h3>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="increase-item">
              <div class="increase-area-content">
                <img src="/static/img/icon/1.png" alt="image" />
                <h3>Индивидуальный подход к каждому</h3>
                <p>
                  Мы заботимся о потребностях студентов, разрабатывая
                  эффективные уроки, которые помогут им добиться успеха.
                </p>
              </div>
              <div class="increase-shape">
                <img src="/static/img/icon/shape.png" alt="image" />
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="increase-item">
              <div class="increase-area-content">
                <img src="/static/img/icon/2.png" alt="image" />
                <h3>Высококвалифицированные преподаватели</h3>
                <p>
                  Наши преподаватели - дружелюбные профессионалы своего дела.
                </p>
              </div>
              <div class="increase-shape">
                <img src="/static/img/icon/shape.png" alt="image" />
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="increase-item">
              <div class="increase-area-content">
                <img src="/static/img/icon/3.png" alt="image" />
                <h3>Полное погружение в языковую среду</h3>
                <p>
                  Наши курсы предназначены для того, чтобы вы могли учиться и
                  совершенствоваться, используя только тот язык, который вы
                  изучаете.
                </p>
              </div>
              <div class="increase-shape">
                <img src="/static/img/icon/shape.png" alt="image" />
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="increase-item">
              <div class="increase-area-content">
                <img src="/static/img/icon/4.png" alt="image" />
                <h3>Активная внеклассная деятельность</h3>
                <p>
                  Мы не просто преподаем языки. Мы организуем разговорный клуб,
                  летние лагеря, загородные языковые лагеря и экскурсии.
                </p>
              </div>
              <div class="increase-shape">
                <img src="/static/img/icon/shape.png" alt="image" />
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="increase-item">
              <div class="increase-area-content">
                <img src="/static/img/icon/5.png" alt="image" />
                <h3>Низкие цены, семейные скидки</h3>
                <p>
                  Нашим клиентам доступны скидки на курсы и бесплатные занятия!
                  Позвоните и узнайте о наших скидках или закажите бесплатное
                  пробное занятие/собеседование уже сегодня!
                </p>
              </div>
              <div class="increase-shape">
                <img src="/static/img/icon/shape.png" alt="image" />
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="increase-item">
              <div class="increase-area-content">
                <img src="/static/img/icon/7.png" alt="image" />
                <h3>Подготовка и сдача TEFL/TESOL</h3>
                <p>
                  Мы поможем вам преуспеть в качестве преподавателя английского
                  языка.
                </p>
              </div>
              <div class="increase-shape">
                <img src="/static/img/icon/shape.png" alt="image" />
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="increase-item">
              <div class="increase-area-content">
                <img src="/static/img/icon/6.png" alt="image" />
                <h3>
                  Подготовка к кембриджским экзаменам и сдача на подтверждение
                  уровня
                </h3>
                <p>
                  Наша программа выстроена уже с учетом нацеленности на сдачу
                  кембриджских экзаменов для Young Learners, KET, PET, FCE. В
                  течение учебного курса мы также проводим пробные экзамены.
                  Сдача экзамена возможна в нашем языковом центре. Подробности
                  узнавайте по нашим телефонам
                </p>
              </div>
              <div class="increase-shape">
                <img src="/static/img/icon/shape.png" alt="image" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Productive Section -->

    <!-- Start About Section -->
    <section class="productive-section" id="программы">
      <div class="container">
        <div class="productive-title">
          <span>Увлекательные и познавательные занятия</span>
          <h3>Наши курсы и программы</h3>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <a href="deti-3-4.html">
              <div class="benefit-area-content">
                <i class="fa fa-language"></i>
                <h3>Иностранные языки для детей 3 - 4 лет</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="#">
              <div class="benefit-area-content">
                <i class="fa fa-language"></i>
                <h3>Иностранные языки для детей 5 - 6 лет</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="#">
              <div class="benefit-area-content">
                <i class="fa fa-language"></i>
                <h3>Иностранные языки для детей 7 - 11 лет</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="#">
              <div class="benefit-area-content">
                <i class="fa fa-language"></i>
                <h3>Иностранные языки для детей 12 - 17 лет</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="#">
              <div class="benefit-area-content">
                <i class="fa fa-user-circle"></i>
                <h3>Подготовка к ОГЭ/ЕГЭ</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="#">
              <div class="benefit-area-content">
                <i class="fa fa-language"></i>
                <h3>Иностранные языки для взрослых</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="#">
              <div class="benefit-area-content">
                <i class="fa fa-language"></i>
                <h3>Летние языковые интенсивы</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-8 col-md-6">
            <a href="#">
              <div class="benefit-area-content">
                <i class="fa fa-user-circle"></i>
                <h3>
                  Подготовка к Кембриджским экзаменам Young Learners, KET, PET,
                  FCE
                </h3>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="#">
              <div class="benefit-area-content">
                <i class="fa fa-users"></i>
                <h3>Разговорные клубы для детей и взрослых</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="#">
              <div class="benefit-area-content">
                <i class="fa fa-user-circle"></i>
                <h3>Подготовка к IELTS</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="#">
              <div class="benefit-area-content">
                <i class="fa fa-language"></i>
                <h3>Занятия с носителем языка</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="#">
              <div class="benefit-area-content">
                <i class="fa fa-user-circle"></i>
                <h3>Подготовка и сдача TEFL & TESOL</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="#">
              <div class="benefit-area-content">
                <i class="fa fa-language"></i>
                <h3>Городской летний языковой лагерь</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="#">
              <div class="benefit-area-content">
                <i class="fa fa-user-circle"></i>
                <h3>Международные программы обучения</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="#">
              <div class="benefit-area-content">
                <i class="fa fa-language"></i>
                <h3>Загородный языковой лагерь</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="#">
              <div class="benefit-area-content">
                <i class="fa fa-users"></i>
                <h3>Экскурсии</h3>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a href="#">
              <div class="benefit-area-content">
                <i class="fa fa-users"></i>
                <h3>Детские праздники на английском</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!-- Start Productive Section -->
    <section class="productive-section productive-bg" id="преподаватели">
      <div class="container">
        <div class="productive-title">
          <span>Профессионалы в своих делах</span>
          <h3>Наши преподаватели</h3>
        </div>

        <div class="row align-items-center">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-team-member">
              <div class="member-image">
                <img
                  src="/static/img/team/1.jpg"
                  alt="Смирнова Татьяна Витальевна"
                />
              </div>
              <div class="member-content">
                <h3>
                  <a href="prepodavateli#Татьяна"
                    >Смирнова Татьяна Витальевна</a
                  >
                </h3>
                <span>Директор</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-team-member">
              <div class="member-image">
                <img
                  src="/static/img/team/2.jpg"
                  alt="Алексеева Алена Николаевна"
                />
              </div>
              <div class="member-content">
                <h3>
                  <a href="prepodavateli#Алена"
                    >Алексеева Алена Николаевна
                  </a>
                </h3>
                <span>Преподаватель</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-team-member">
              <div class="member-image">
                <img
                  src="/static/img/team/3.jpg"
                  alt="Щербак Вероника Викторовна"
                />
              </div>
              <div class="member-content">
                <h3>
                  <a href="prepodavateli#Вероника"
                    >Щербак Вероника Викторовна</a
                  >
                </h3>
                <span>Преподаватель</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-team-member">
              <div class="member-image">
                <img
                  src="/static/img/team/4.jpg"
                  alt="Козырева Ольга Сергеевна"
                />
              </div>
              <div class="member-content">
                <h3>
                  <a href="prepodavateli#Ольга"
                    >Козырева Ольга Сергеевна
                  </a>
                </h3>
                <span>Преподаватель</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-team-member">
              <div class="member-image">
                <img src="/static/img/team/5.jpg" alt="Азизова Юлия Анваровна" />
              </div>
              <div class="member-content">
                <h3>
                  <a href="prepodavateli#Юлия">Азизова Юлия Анваровна</a>
                </h3>
                <span>Преподаватель</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-team-member">
              <div class="member-image">
                <img
                  src="/static/img/team/6.jpg"
                  alt="Боголепова Дина Александровна"
                />
              </div>
              <div class="member-content">
                <h3>
                  <a href="prepodavateli#Дина"
                    >Боголепова Дина Александровна</a
                  >
                </h3>
                <span>Преподаватель</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-team-member">
              <div class="member-image">
                <img src="/static/img/team/7.jpg" alt="Галкина Алёна Игоревна" />
              </div>
              <div class="member-content">
                <h3>
                  <a href="prepodavateli#Галкина"
                    >Галкина Алёна Игоревна</a
                  >
                </h3>
                <span>Преподаватель</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-team-member">
              <div class="member-image">
                <img src="/static/img/team/8.jpg" alt="Эммануэль Идика" />
              </div>
              <div class="member-content">
                <h3>
                  <a href="#">Эммануэль Идика</a>
                </h3>
                <span>Преподаватель</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Productive Section -->

    <!-- Start Blog Section -->
    <section class="blog-section startup-blog pt-100 pb-70" id="новости">
      <div class="container">
        <div class="blog-title">
          <span>Новости и рассказы о нашей школе</span>
          <h3>Новости Школы</h3>

          <div class="blog-btn">
            <a href="/posts" class="blog-btn-one">
              Все Новости
              <i class="fa fa-arrow-right"></i>
            </a>
          </div>
        </div>

        <div class="row">
        {{if .Posts}}
        {{range .Posts}}
          <div class="col-lg-4 col-md-6">
            <div class="blog-item">
              <div class="blog-image">
                <a href="/posts/{{.ID}}">
                  <img src="/uploads/{{.Image}}" alt="{{.Title}}" />
                </a>
              </div>
              <div class="single-blog-item">
                <div class="blog-content">
                  <a href="/posts/{{.ID}}">
                    <h3>{{.Title}}</h3>
                  </a>
                </div>
                <ul class="blog-list">
                  <li>
                      <i class="flaticon-appointment"></i>
                      {{humanDate .Created}}
                  </li>
                  <li>
                    <i class="flaticon-user"></i>
JOY
                  </li>
                </ul>
              </div>
            </div>
          </div>
          {{end}}
          {{else}}
            <p>Здесь не на что смотреть... пока!</p>
          {{end}}
        </div>
      </div>
    </section>
    <!-- End Blog Section -->

    <!-- Start Review Section -->
    <section class="productive-section productive-bg" id="отзывы">
      <div class="container">
        <div class="productive-title">
          <span>Что говорят наши студенты</span>
          <h3>Отзывы</h3>
        </div>

        <div class="saying-slides owl-carousel owl-theme">
          <div class="saying-single-item">
            <div class="saying-content-text">
              <p>
                Я занимаюсь в Joy School уже 5 лет. И за это время стал намного
                лучше понимать в английским языке, и мы смогли много где
                побывать. Вместе с руководителем Татьяной Витальевной и другими
                ребятами мы побывали в лагерях отдыха, в Лондоне и на Мальте
                (маленький островок в Средиземном море), в Санкт-Петербурге и
                надеюсь на продолжение этого списка. во всех этих местах мы
                изучали английский язык, практиковали его с носителями, отдыхали
                и смотрели мир. Здесь я завёл много друзей и знакомых, посмотрел
                на иностранцев и пообщался с ними и услышал несколько забавных и
                захватывающих историй. Название школы себя вполне оправдывает.
                Когда вы будете в ней заниматься, то будете получать одно
                удовольствие.
              </p>
            </div>
            <div class="saying-info">
              <div class="say-image">
                <img src="/static/img/say-image/1.jpg" alt="image" />
              </div>
              <h4>Андрей Ягилев</h4>
              <span>Студент</span>
            </div>
          </div>
          <div class="saying-single-item">
            <div class="saying-content-text">
              <p>
                JOY school - это та школа, где вы точно выучите язык и сможете
                значительно продвинуться в знании английского (и не только!).
                Прекрасная атмосфера на занятиях, неравнодушие учителей,
                возможность завести новые знакомства позволят вам с легкостью
                получить новые знания!
              </p>
            </div>
            <div class="saying-info">
              <div class="say-image">
                <img src="/static/img/say-image/2.jpg" alt="image" />
              </div>
              <h4>Мария Селезнева</h4>
              <span>Студентка</span>
            </div>
          </div>
          <div class="saying-single-item">
            <div class="saying-content-text">
              <p>
                Хочется сказать огромное спасибо школе Joy и особенно Татьяне
                Витальевне! Я очень рада, что обучалась именно у Вас, потому что
                навыки, знания и умения, полученные за период обучения в школе
                помогли мне успешно сдать ЕГЭ по английскому языку ( когда я
                только записалась на занятия, мой уровень английского был очень
                низкий- пробники писала около 30 баллов, но готовясь у Татьяны
                Витальевны я сдала ЕГЭ на 77 баллов, чему была удивлена и очень
                рада). Много увлекательных и познавательных поездок, разговорные
                клубы, уроки с носителями языка и просто классно проведенное
                время в школе запомнятся мне надолго. Могу уверенно сказать, что
                если хочется изучать языки действительно интересно и с
                результатом, то это точно Joy!
              </p>
            </div>
            <div class="saying-info">
              <div class="say-image">
                <img src="/static/img/say-image/3.jpg" alt="image" />
              </div>
              <h4>Мария Смолина</h4>
              <span>Студентка</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Review Section -->

    {{template "contact" .}}

    {{end}}

