{{define "navigation"}}

<!-- Start Navbar Area Two -->
    <div class="navbar-area-two">
      <div class="exto-responsive-nav">
        <div class="container">
          <div class="exto-responsive-menu">
            <div class="logo">
              <a href="/">
                <img
                  src="/static/img/logo/logo.png"
                  alt="Школа иностранных языков JOY"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="exto-nav">
        <div class="container">
          <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="/">
              <img
                src="/static/img/logo/logo.png"
                alt="Школа иностранных языков JOY"
              />
            </a>
            <div
              class="collapse navbar-collapse mean-menu"
              id="navbarSupportedContent"
            >
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="http://localhost:4000/#нас" class="nav-link">О нас</a>
                </li>
                <li class="nav-item">
                  <a href="http://localhost:4000/#программы" class="nav-link"> Программы </a>
                </li>
                <li class="nav-item">
                  <a href="http://localhost:4000/#преподаватели" class="nav-link"> Преподаватели </a>
                </li>
                <li class="nav-item">
                  <a href="http://localhost:4000/#новости" class="nav-link"> Новости </a>
                </li>
                <li class="nav-item">
                  <a href="http://localhost:4000/#отзывы" class="nav-link"> Отзывы </a>
                </li>
                <li class="nav-item">
                  <a href="http://localhost:4000/#контакты" class="nav-link"> Контакты </a>
                </li>
              </ul>

              <div class="others-options seo-option">
                <div class="phone-us">
                  <img src="/static/img/seo/call.png" alt="" />
                  <span class="nav-link">
                    +79535519099 <br />
                    +79200601660
                  </span>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!-- End Navbar Area Two -->

{{end}}