{{define "pageheader"}}
<!-- Start Page Title Area -->
    <div class="page-title-area">
      <div class="d-table">
        <div class="d-table-cell">
          <div class="container">
            <div class="page-title-content">
              {{template "pageheadertitle" .}}
              {{template "breadcrumbs" .}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Page Title Area -->
    {{end}}