{{template "pagelayout" .}}

{{define "title"}}Новости{{end}}

{{define "pageheadertitle"}}
<h2>Новости</h2>
{{end}}

{{define "breadcrumbs"}}
<ul>
<li>
    <a href="/">Главная</a>
</li>
<li>Новости</li>
</ul>
{{end}}

{{define "pagebody"}}


<!-- Start Blog Section -->
    <section class="blog-section ptb-100">
      <div class="container">
        <div class="row">
        {{if .Posts}}
        {{range .Posts}}
          <div class="col-lg-4 col-md-6">
            <div class="blog-item">
              <div class="blog-image">
                <a href="/posts/{{.ID}}">
                  <img src="/uploads/{{.Image}}" alt="{{.Title}}" />
                </a>
              </div>
              <div class="single-blog-item">
                <div class="blog-content">
                  <a href="/posts/{{.ID}}">
                    <h3>{{.Title}}</h3>
                  </a>
                </div>
                <ul class="blog-list">
                  <li>
                      <i class="flaticon-appointment"></i>
                      {{humanDate .Created}}
                  </li>
                  <li>
                    <i class="flaticon-user"></i>
                    JOY
                  </li>
                </ul>
              </div>
            </div>
          </div>
          {{end}}
          {{else}}
            <p>Здесь не на что смотреть... пока!</p>
          {{end}}
        </div>
      </div>
    </section>
    <!-- End Blog Section -->

{{template "contact" .}}

{{end}}
