{{template "pagelayout" .}}

{{define "title"}}{{.Post.Title}}{{end}}

{{define "pageheadertitle"}}
<h2>Новости</h2>
{{end}}

{{define "breadcrumbs"}}
<ul>
<li>
    <a href="/">Главная</a>
</li>
<li>Новости</li>
</ul>
{{end}}

{{define "pagebody"}}

<!-- Start Blog Details Area -->
        <section class="blog-details-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="blog-details-desc">
                            <div class="article-image">
                                <img src="/uploads/{{.Post.Image}}" alt="{{.Post.Title}}">
                            </div>
                            <div class="article-content">
                                <div class="entry-meta">
                                    <ul>
                                        <li>
                                            <span>Posted on:</span> 
                                          <a href="{{.Post.ID}}">{{humanDate .Post.Created}}</a>
                                        </li>
                                        <li>
                                            <span>By:</span> 
                                            <a href="{{.Post.ID}}">JOY</a>
                                        </li>
                                    </ul>
                                </div>
                                <h3>{{.Post.Title}}</h3>
                                <p>{{.Post.Content}}</p>
                               </div>                      
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <aside class="widget-area" id="secondary">
                            <section class="widget widget_zash_posts_thumb">
                                <h3 class="widget-title">Последние новости</h3>
                                {{range .Posts}}
                                <article class="item">
                                    <div class="info">
                                        <time class="2021-06-30">{{humanDate .Created}}</time>
                                        <h4 class="title usmall">
                                            <a href="/posts/{{.ID}}">{{.Title}}</a>
                                        </h4>
                                    </div>
                                </article>
                                {{end}}
                            </section>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Blog Details Area -->

{{end}}