{{template "pagelayout" .}}

{{define "title"}}Преподаватели{{end}}

{{define "pageheadertitle"}}
<h2>Преподаватели центра</h2>
{{end}}

{{define "breadcrumbs"}}
<ul>
<li>
    <a href="/">Главная</a>
</li>
<li>Преподаватели</li>
</ul>
{{end}}

{{define "pagebody"}}

 <!-- Start About Section -->
    <section class="productive-section" id="Татьяна">
      <div class="container">
        <div class="row align-items-left">
          <div class="col-lg-4 col-md-12">
            <div class="circulate-image">
              <img src="static/img/team/tatyana.jpg" alt="Смирнова Татьяна Витальевна" />
            </div>
          </div>

          <div class="col-lg-8 col-md-12">
            <div class="about-content-area">
              <h4>Смирнова Татьяна Витальевна</h4>
              <h6>Руководитель школы иностранных языков JOY </h6>
               <p><strong>Образование:<strong></p>
              <p>Высшее лингвистическое (Нижегородский государственный
                лингвистический университет им. Н.А. Добролюбова)</p>
                <p>General English Certificate London (С1-advanced)</p>
                <p>General English Certificate Malta (C1 – advanced)</p>
                <p>Diploma - 250 Hour Expert TEFL/TESOL Course</p>
              <p><strong>Организатор обучающих поездок:</strong></p> 
              <p>- Англия</p>
              <p>- Мальта</p>
              <p>- Санкт-Петербург</p>
              <p>- поездки в лагеря Нижегородской области с изучением английского языка.</p>
              <p><strong>О себе:<strong></p>
              <p>
                Наша деятельность для меня – это не работа, а стиль жизни! На
                протяжении 10 лет я стараюсь зажигать людей вокруг себя своей
                энергией и вовлекать их в новый неизведанный для них мир – мир
                иностранных языков, мир путешествий, знакомств и общения с
                носителями языка, ведь знать иностранный язык – это все равно,
                что иметь вторую душу. Наша школа – это не просто школа
                иностранных языков, это полноценное погружение в языковой мир с
                поездками, приключениями, спектаклями, мероприятиями и
                праздниками, фактами и историей стран изучаемых языков. Каждый
                год мы идем к новым и новым целям, мы любим свое дело и любим
                тех, кого мы учим.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!-- Start About Section -->
    <section class="productive-section productive-bg" id="Алена">
      <div class="container">
        <div class="row align-items-left">
          <div class="col-lg-4 col-md-12">
            <div class="circulate-image">
              <img src="static/img/team/alyona1.jpg" alt="Алексеева Алена Николаевна" />
            </div>
          </div>

          <div class="col-lg-8 col-md-12">
            <div class="about-content-area">
              <h4>Алексеева Алена Николаевна</h4>
              <h6>Преподаватель английского языка</h6>
              <p><strong>Образование:<strong></p>
              <p>Высшее педагогическое (Нижегородский государственный педагогический университет имени Козьмы Минина – бакалавриат</p>
              <p><strong>О себе:<strong></p>
              <p>Язык - система динамичная, постоянно меняющаяся. Новые элементы регулярно возникают, старые уходят в прошлое. Этот аспект языка всегда казался мне одним из наиболее привлекательных: по-настоящему изучение никогда не заканчивается. Обучение языку - это бесконечное приключение, полное как приятных неожиданностей, так и досадных поражений. Моя задача как учителя привить своим ученикам любовь к языку и его изучению, параллельно помогая им избегать возможных ошибок на этом далеко непростом пути.</p> 
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <section class="productive-section" id="Вероника">
      <div class="container">
        <div class="row align-items-left">
          <div class="col-lg-4 col-md-12">
            <div class="circulate-image">
              <img src="static/img/team/veronika.jpg" alt="Щербак Вероника Викторовна" />
            </div>
          </div>

          <div class="col-lg-8 col-md-12">
            <div class="about-content-area">
              <h4>Щербак Вероника Викторовна</h4>
              <h6>Лингвист, преподаватель английского и испанского языков</h6>
               <p><strong>Образование:<strong></p>
              <p>Нижегородский государственный лингвистический университет имени Н. А. Добролюбова</p>
              <p><strong>Специальность:<strong></p>
              <p>Лингвистика (теория и методика преподавания иностранных языков и культур) - английский и испанский</p>
              <p><strong>О себе:<strong></p>
              <p>"A Teacher takes a hand, opens a mind and touches a heart"</p>
              <p>Заниматься преподаванием я начала ещё со второго курса университета, так как очень было интересно окунуться в профессию, которую я выбрала ещё в школе. Я считаю, что самое важное в процессе обучения это заинтересовать учеников в изучении иностранных языков.</p>
              <p>Несомненно, в процессе обучения английскому языку большое значение имеет игра. Игра – дверь в душу ребенка. В своей работе применяю игры способствующие отдыху, вызывающие положительные эмоции, легкость и удовольствие.</p>
              <p>Немалое внимание уделяется и культуре стран изучаемых языков, ведь чтобы погрузиться в среду изучаемого языка, просто необходимо знать о культуре и традициях.</p>
              <p>Я люблю свою профессию, а также всегда стараюсь находить общий язык с учениками.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!-- Start About Section -->
    <section class="productive-section productive-bg" id="Ольга">
      <div class="container">
        <div class="row align-items-left">
          <div class="col-lg-4 col-md-12">
            <div class="circulate-image">
              <img src="static/img/team/olga.jpg" alt="Козырева Ольга Сергеевна" />
            </div>
          </div>

          <div class="col-lg-8 col-md-12">
            <div class="about-content-area">
              <h4>Козырева Ольга Сергеевна </h4>
              <h6>Преподаватель английского языка</h6>
              <p><strong>Образование:<strong></p>
              <p>Высшее педагогическое (Нижегородский государственный педагогический университет имени Козьмы Минина – бакалавриат)</p>
              <p>Удостоверение о повышении квалификации НГЛУ по дополнительной профессиональной программе "Подготовка педагогических кадров и работников организаций-работодателей к реализации дополнительных образовательных программ по иностранным языкам для взрослых (английский язык)"</p>
              <p>International Open Academy 120 - Hour TESOL Certificate Course (october 2020)</p>
              <p>World TESOL Academy 120-Hour TESOL/TEFL Certificate Accreditated course graduate (04/11/2021)</p> 
              <p><strong>О себе:<strong></p>
              <p>Язык, как способ общения, является одним из самых древних и эффективных. Благодаря языку мы можем не только познавать мир, но и использовать его как объект и как посредник; язык — это то, с помощью чего мы выражаем себя и вещи. Но так как языков в мире огромное множество, то самый эффективный вариант познать мир шире - это изучать интернациональный язык, благодаря которому открывается огромный спектр возможностей как в общении, так и в путешествиях, поисках работы или даже переезда за границу.</p>
              <p>Сегодня есть огромная возможность изучать язык эффективно и качественно не выходя из дома, благодаря интернет ресурсам и современным технологиям открываются большие возможности как для самостоятельного изучения, так и для изучения с преподавателем, или даже с носителем языка. И одно из немаловажных вещей это то, что есть возможность практиковать и поддерживать уровень изучаемого языка, общаясь с его носителями буквально как с друзьями.</p>
              <p>Это замечательно открывать для себя наш удивительный мир. А мы будем рядом чтобы помочь вам в этом.</p> 
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!-- Start About Section -->
    <section class="productive-section" id="Юлия">
      <div class="container">
        <div class="row align-items-left">
          <div class="col-lg-4 col-md-12">
            <div class="circulate-image">
              <img src="static/img/team/yulya.jpg" alt="Азизова Юлия Анваровна" />
            </div>
          </div>

          <div class="col-lg-8 col-md-12">
            <div class="about-content-area">
              <h4>Азизова Юлия Анваровна</h4>
              <h6>Преподаватель английского языка</h6>
              <p><strong>Образование:<strong></p>
              <p>Высшее педагогическое (магистратура Лингвистического Университета им. Н.А. Добролюбова)</p>
              <p><strong>Специальность:<strong></p>
              <p>Сертификат IELTS</p>
              <p><strong>О себе:<strong></p>
              <p>10-летний опыт преподавания в России и Китае. Обучение языку детей и взрослых приносит огромное удовольствие. Поможет подготовиться к ОГЭ/ ЕГЭ по английскому языку и международному экзамену IELTS. На занятиях всегда погружает учащихся в англоязычный мир с помощью аутентичных видео, статей, песен, отрывков фильмов так, чтобы изучение языка приносило радость и удовольствие. Процесс обучения согласуется с индивидуальными потребностями студента. На занятиях Юлии всегда царит приятная атмосфера. Профессиональное кредо: Кто владеет языком – тот владеет миром.</p>
              <p>Вдохновляется путешествиями и профессиональными победами, любит общаться с англоговорящими друзьями, изучать испанский и французский, писать и читать стихи.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

        <!-- Start About Section -->
    <section class="productive-section productive-bg" id="Дина">
      <div class="container">
        <div class="row align-items-left">
          <div class="col-lg-4 col-md-12">
            <div class="circulate-image">
              <img src="static/img/team/dina.jpg" alt="Боголепова Дина Александровна" />
            </div>
          </div>

          <div class="col-lg-8 col-md-12">
            <div class="about-content-area">
              <h4>Боголепова Дина Александровна</h4>
              <h6>Преподаватель английского языка</h6>
              <p><strong>Образование:<strong></p>
              <p>Лицей ОЦДВП (иностранный язык).</p>
              <p>Нижегородский государственный педагогический университет им. К.Минина.</p>
               <p><strong>Специальность:<strong></p>
              <p>Психолого - педагогическое образование</p>
              <p><strong>О себе:<strong></p>
              <p>Обучая детей английскому языку, ежедневно общаясь с ними, я стараюсь слышать, понимать, уважать, любить каждого ребёнка. И всегда помню, что во многом и от меня зависит, какими людьми они вырастут. В процессе обучения пытаюсь не только привить любовь к иностранному языку, но и развивать любознательность, познавательный интерес детей.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

        <!-- Start About Section -->
    <section class="productive-section" id="Галкина">
      <div class="container">
        <div class="row align-items-left">
          <div class="col-lg-4 col-md-12">
            <div class="circulate-image">
              <img src="static/img/team/alyona2.jpg" alt="Галкина Алёна Игоревна" />
            </div>
          </div>

          <div class="col-lg-8 col-md-12">
            <div class="about-content-area">
              <h4>Галкина Алёна Игоревна</h4>
              <h6>Преподаватель китайского языка</h6>
              <p><strong>Образование:<strong></p>
              <p>Высшее педагогическое (Нижегородский государственный педагогический университет имени Козьмы Минина – специалитет)</p>
              <p>Обучение в Китае по программе</p>
              <p><strong>О себе:<strong></p>
              <p>Что самое важное на занятиях иностранного языка? Комфортная атмосфера и увлекательные задания, которые помогут ученику быстрее запомнить новый материал. На своих уроках я использую различные методики, чтобы сделать изучение китайского языка интереснее и намного проще. Также немало важно узнать культуру страны, язык которой ты изучаешь, именно поэтому на уроках мы не только учим язык, но и рассматриваем разные традиции Китая, погружаясь в языковую среду.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

{{template "contact" .}}

{{end}}
